:root {
    --dark-green: #3c5954;
    --light-green: #00FF00;
    --gray: #c1c8ce;
}

body {
    position: relative;
    padding:0;
    margin:0;
}

header {
    text-align: right;
    padding: 30px;
}

.button {
    text-align: center;
    color: var(--gray);
    font-size: 2em;
    background: var(--dark-green);
    border-radius: 9999px;
    text-decoration: none;
    padding: 0 .7em;
}

#name {
    text-align: center;
    text-shadow: 2px 2px 5px black;
    margin-top: 10%;
    font-size: 10vw;
    color: var(--gray);
}

#first-section {
    position: relative;
    height: 100vh;
    width: 100%;
    text-align: center;
}

#second-section {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: var(--gray);
}

#second-section .polaroid {
    width: 300px;
    height: 300px;
    object-fit: cover;
    position: absolute;
    border: solid 20px white;
    border-bottom: solid 80px white;
    box-shadow: 0px 5px 10px rgba(0,0,0,.3);
}

#second-section img:nth-child(1) {
    left: 75px;
    top: 100px;
    transform: rotate(1deg);
}

#second-section img:nth-child(2) {
    right: 300px;
    top: 200px;
    transform: rotate(-2deg);
}

#second-section img:nth-child(3) {
    left: 500px;
    top: 500px;
    transform: rotate(2deg);
}

#third-section {
    position: relative;
    height: 100vh;
    width: 100%;
    text-align: center;
}

#third-section .card p {
    font-size: 2em;
    color: var(--gray);
}

.card {
    margin: auto;
    max-width: 700px;
    background-color: var(--dark-green);
    text-align: left;
    padding: 1em;
    height: 40%;
    margin-top: 30vh;
}

#third-section .quote {
}

.flex-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background {
    z-index: -100;
    filter: saturate(0.3);
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    height: 100vh;
}

.left-background {
    float: left;
    left: 0;
    background-position: left;
    background-image: url("img/lucchetti.jpg");
}

.right-background {
    background-position: center;
    float: right;
    right: 0;
    background-image: url("img/landscape.jpg");
}

#footer {
    background-color: var(--dark-green);
    color: var(--gray);
    text-align: center;
    padding: .2em;
    width: 100%;
}
